<section id="courses" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="header-section text-center">
                <h2>Courses</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem nesciunt vitae,<br>
                    maiores, magni dolorum aliquam.</p>
                <hr class="bottom-line">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 padleft-right" *ngFor="let images of gallery.images">
                <figure class="imghvr-fold-up">
                    <img src="{{images.image}}" class="img-responsive">
                    <figcaption>
                        <h3>{{images.name}}</h3>
                        <p>{{images.para}}</p>
                    </figcaption>
                    <a href="#"></a>
                </figure>
            </div>

        </div>
    </div>
</section>