<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="color: #5FCF80" routerLink="/home">ProInfo<span>&nbsp;Systems</span></a>
           
        </div>
 
        <div class="collapse navbar-collapse" id="myNavbar">
            <app-navmenu [menu]="menu" ></app-navmenu>
        </div>
       
    </div>
</nav>